<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/perfil.css">

</head>

<body>

    <header>

        <nav>
            <ul>
                <li class="ML"> <img src="../img/logo.png" alt="MLife" class="ajustar"> <input type="submit"
                        value="MLife Compañy" class="Logo_BT">
                </li>
                <li class="radio_btn Mover">
                    <button type="button" class="Bu">
                        <img src="../img/usuario.png" alt="ucer" class="Ucer" id="Ucer">
                    </button></li>
                <li class="radio_btn Mover"><a href="/Web-Lif">
                        Web-Life </a></li>

                <li class="radio_btn Mover"><a href="#">
                        MLTOP</a></li>

                <li class="radio_btn Mover"><a href="#">
                        BOLSA</a></li>
            </ul>
        </nav>

    </header>

    <div class="publicar">

        <form action="">
        <input type="text" placeholder="¿Cual es tu meta?" class="coon" name="textoP">
        <input type="file" name="image" id="fotoPublicacion" class="a"> 
        <input class="ss" type="submit" value="Publicar">
        </form>

       
       <button type="submit" class="pub">
            <img src="../img/pub.png"> 
        </button>
    </div>

    <div>
        <div class="card-fooder">

            <form action="/Web-Life/Perfil" method="POST" enctype="multipart/form-data">
                <input type="file" class="archivador" name="image" onchange="return correr()" id="archivador">
                <button type="submit" id="enviar" class="enviar">
                    ENVIAR
                </button>

            </form>

        </div>
    </div>

    <div class="perfilFoto" id="visual">
        <img src="../img/Degrade.png" alt="degrade" class="degrade">

        <button type="submit" class="subir"> <img src="../img/subir.png" alt="slect" class="sub">
            <label for="lap" class="lap">
                Subir foto de portada</label></button>
    </div>
    <img src="../img/usuario.png" alt="imgPerfil" class="avatar" id="mostrarP">
    <label for="Nombre" id="nam" class="nombre"> <%= Nombre%> </label>
    



    <div class="caract">

        <div class="caract1">
            <h1>
                Carta del usuario
            </h1>
        </div > 
        
        <div class="caract2">
        <h1>ROLL DESEMPEÑADO.</h1>
        <label for="R"><%= roll%> </label>
        <h1>LUGAR DE PROCEDENCIA.</h1>
        <label for="Re"><%= domicilio%> </label>
        <h1>PROPUESTAS DE VALOR.</h1>
        </div>
        

    </div>



    <div class="emergente" id="emergente">
        <div class="pre" id="visualizador">

        </div>

        <button type="submit" class="subir2"> <img src="../img/subir.png" alt="slect" class="sub">
            <label for="lap" class="lap">
                ELEGIR NUEVA</label></button>

        <button type="submit" class="subir3"> <img src="../img/cor.png" alt="slect" class="sub">
            <label for="lap" class="lap">
                GUARDAR</label></button>

        <button type="submit" class="subir4"> <img src="../img/cancel.png" alt="slect" class="sub">
            <label for="lap" class="lap">
                CANCELAR</label></button>
    </div>



    <var id="perfil"><%= FotoPerfil%></var>
    <var id="portada"><%= portada%></var>



    <script src="../Scrips/jquery-3.5.0.js"></script>
    <script src="../Scrips/scriptPefil.js"></script>
</body>

</html>